/* RESET */
/* ---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------- */
.main-header__block {
  color: #fff;
  text-decoration: none;
}

.main-header__block_left-block {
  width: 50%;
  height: 200px;
  display: inline-block;
  float: left;
}

.main-header__block_right-block {
  width: 50%;
  display: inline-block;
  height: 200px;
}

body {
  max-width: 1280px;
  background-color: #000000;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.main_header__top-nav {
  min-height: 87px;
  background-color: #4c97a2;
  padding: 0 10%;
  box-sizing: border-box;
}

.main_header__top-nav h1 {
  float: left;
  padding-left: 4.29%;
  font-family: "Cherry Swash";
  font-size: 40px;
  color: #fff;
  padding-top: 21px;
}

.main_header__nav-list li {
  list-style: none;
  display: inline-block;
  padding-top: 36px;
  float: right;
}

.main_header__nav-list li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 19px;
  margin-right: 0.625rem;
  margin-left: 3.438rem;
}

.main_header__nav-list li:after {
  content: "/";
  font-size: 19px;
  position: absolute;
  padding-left: 1.3rem;
  color: #fff;
}

.main_header__nav-list li:first-child:after {
  display: none;
}

.main_header__slider {
  width: 100%;
  height: 476px;
  background-color: #2e3951;
  background-image: url(../img/slider_bg.png);
}

.main_header__slider h2 {
  font-family: 'Roboto';
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 110px;
  line-height: 1.2;
}

.main_header__slider-btn {
  width: 233px;
  height: 43px;
  border: solid 3px #afb1b4;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(200, 200, 200, 0.05);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 1.45;
}

.main_header__slider-btn a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.main_header__slider-btn a:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.main_header__slider-controller {
  display: block;
  width: 233px;
  margin: 0 auto;
  padding-top: 110px;
  text-align: center;
  padding-top: 110px;
}

.main_page__content {
  padding: 0 10%;
  box-sizing: border-box;
  background-color: #fff;
  height: 440px;
  padding-top: 90px;
}

.main_page__content h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: white;
  color: #000;
  font-size: 30px;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 45px;
}

.main_page__content p {
  font-family: 'Arial';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  padding-left: 6.56%;
  padding-right: 6.56%;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 17px;
  color: #000;
  margin-bottom: 40px;
}

.main_page__content-img {
  display: block;
  text-align: center;
  min-width: 300px;
}

.main_page__content-img img {
  padding-right: 9.922%;
}

.main_page__content-img img:last-child {
  padding-right: 0;
}

.main_page__review_block {
  padding: 0 10%;
  height: 468px;
  background-color: #00d089;
  position: relative;
}

.main_page__review_block__author {
  position: relative;
  padding-top: 104px;
  margin: 0  55%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: white;
  color: #fff;
  font-size: 26px;
  padding-bottom: 165px;
}

.main_page__review_block__author:before {
  content: "";
  position: absolute;
  display: block;
  top: 100px;
  left: -155px;
  background-image: url("../img/men.png");
  width: 135px;
  height: 135px;
}

.main_page__review_block__author:after {
  content: "";
  position: absolute;
  display: block;
  top: 150px;
  left: 0px;
  background-image: url("../img/quotes.png");
  width: 127px;
  height: 92px;
}

.main_page__review_block__author-article {
  font-family: 'Arial';
  font-weight: 500;
  font-size: 17px;
  line-height: 1.6;
  padding-left: 6.56%;
  padding-right: 6.56%;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 16px;
}

.main_page__form_block {
  padding: 0 10%;
  height: 520px;
  background-image: url("../img/map.png");
  padding-top: 75px;
  overflow: hidden;
  position: relative;
}

.main_page__form_block-form-wraper {
  display: block;
  height: 430px;
  width: 430px;
  margin: 0 auto;
  border-radius: 67.18%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.main_page__form_block-form-wraper form {
  padding-top: 120px;
  padding-left: 19%;
}

.main_page__form_block-form-wraper form input {
  box-sizing: border-box;
  height: 31px;
  width: 270px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
  color: #2b2b2c;
  padding-left: 10px;
  font-family: 'Arial';
}

.main_page__form_block-form-wraper form input::-webkit-input-placeholder {
  color: #a5a7ae;
}

.main_page__form_block-form-wraper form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.main_page__form_block-form-wraper form textarea {
  width: 255px;
  height: 80px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1;
  color: #2b2b2c;
  padding-left: 10px;
  font-family: 'Arial';
}

.main_page__form_block .form_btn {
  position: absolute;
  top: 405px;
  left: 48%;
  width: 67px;
  height: 67px;
  background-image: url("../img/okimg.png");
}

footer {
  height: 40px;
  background-color: #00d089;
}

footer p {
  padding: 0 10%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: white;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}
