/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 1200px) {
	/* Disable fixed navigation buttons */
	#nav-single-fixed,
	#nav-fixed {
		display: none;
	}
}

@media (max-width: 1000px) {
	.main_header__top-nav{
		padding: 0 0;
	}

	#page {
		margin: 0 auto;
	}
	/* Disable triange */
	.triangle-l {
		display: none;
	}
	.triangle-r {
		display: none;
	}
	#access .menu {
		margin-bottom: 31px;
	}
	#access .menu ul {
		margin: 0 -1px;
	}
	/* Gallery thumbnails will be 4 columns from now on */
	.gallery-items li.item {
		width: 25%;
	}
}

@media (max-width: 810px) {
	.main_header__top-nav nav{
		display: none;
	}
	.main_page__review_block{
		padding-left: 1%;
		padding-right: 1%;
	}
	.main_header__nav-list-xs{
		display: block;
	}
	.main_page__content h2{
		font-size: 25px;
	}
}

@media (max-width: 650px) {
	

}

@media (max-width: 550px) {
	.main_page__form_block{
		padding-left: 2%;
		padding-right: 2%;

	}
	.main_header__slider h2{
		padding-left: 11%;
		padding-right: 11%;
	}
	.main_header__slider-controller{
		padding-top: 50px;
	}
	.main_page__content{
		padding-top: 50px;
	}

}

@media (max-width: 460px){
	.main_page__form_block{
		padding-top: 5%;
		padding-bottom: 5%;
		height: 330px;
	}
	.main_page__form_block-form-wraper form{
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 10%;
	}

	.main_page__form_block-form-wraper form input{
		width: 100%;
	}
	
	.main_page__form_block-form-wraper form textarea{
		width: 95%;
	}

	.main_page__form_block-form-wraper{
		height: 100%;
		width: 100%;
		margin: 0 auto;
		border-radius: 0;
		background-color: rgba(255,255,255,.7);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	}
	.main_page__review_block{
		padding-top: 40px;
	}

}

@media (max-width: 355px) {
	.main_header__slider h2{
		padding-top: 50px;
	}
	.main_header__slider-controller{
		
	}
}



