/* RESET */
/* ---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---------------------------------------- */

$color-topline: #4c97a2;
$color-content: #fff;
$color-green: #00d089;

$main_widht: 1280px;
$form-wh: 33.59%;


@mixin roboto{
		font-family: 'Roboto';
		font-style: normal;
		font-weight: normal;
		color: white;
	} 


@mixin border_box{
	box-sizing: border-box;
}

@mixin links{
	color: #fff;
	text-decoration: none;
}

@mixin 	wrap_padding{
	padding: 0 10%;
}

.main-header__block {
	@include links;	
	&:hover{
		
	}
	&_left-block {
		width: 50%;
		height: 200px;
		display: inline-block;
		float: left;
	}
	&_right-block {
		width: 50%;
		display: inline-block;
		height: 200px;
	}
}


body {
	max-width: $main_widht;
	background-color: #000000;
	margin: 0 auto;
	@include border_box;
	position: relative;
}

.main_header {
	&__top-nav{
		min-height: 87px;
		background-color: $color-topline;
		@include wrap_padding;
		@include border_box;
		&:after {
        display: block;
        content: "";
        clear: both;
        }
		& h1{
			float: left;
			padding-left: 4.29%;
			font-family: "Cherry Swash";
			font-size: 40px;
			color: #fff;
			padding-top: 21px;
		}
	}
	&__nav-list li{
		list-style: none;
		display: inline-block;
		padding-top: 36px;
		& a{
			@include links;
			font-family: 'Roboto';
			text-transform: uppercase;
			font-size: 19px;
			margin-right: 0.625rem;
			margin-left: 3.438rem;
		}
		&:after{
				content: "/";
				font-size: 19px;
				position: absolute;
				padding-left: 1.3rem;
				color: #fff;
			}
		&:first-child:after{
			display: none;
		}	
		float: right;
	}

	&__nav-list-xs{
		position: absolute;
		right: 2%;
		top: 16px;
		width: 50px;
		height: 50px;
		border-radius: 8px;
		display: none;
		background-color: darken(#4c9799, 8);
		&:hover{
				background-color: darken(#4c9799, 15);
			}
		&_btn{
			position: absolute;
			top: 22px;
			left: 5px;
			width: 40px;
			height: 6px;
			border-radius: 3px;
			background-color: #FFF;
			color: #fff;
			& a{
				display: none;
			}
		}
		&:hover &_btn li a{
				display: block;
				position: relative;
				top: 22px;
				left: -65px;;
				width: 100px;
				height: 20px;
				text-decoration: none;
				@include roboto;
				text-align: center;
				text-transform: uppercase;
				background-color: darken(#4c9799, 15);
				padding: 10px 5px;
				&:hover{
					background-color: lighten(#4c9799, 30);
					color: darken(#fff, 99);
				}
			}	
	}

	&__slider{
		width: 100%;
		height: 476px;
		background-color: #2e3951;
		background-image: url(../img/slider_bg.png);
		background-size: cover;
		& h2{
			font-family: 'Roboto';
			font-size: 50px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			padding-top: 110px;
			line-height: 1.2;
		}
		&-btn{
			width: 233px;
			height: 43px;
			border: solid 3px #afb1b4;
			border-radius: 7px;
			margin: 0 auto;
			margin-top: 40px;
			background-color: rgba(200,200,200,.05);
			@include roboto;
			font-size: 30px;
			text-align: center;
			line-height: 1.45;
			& a{
				display: block;
				@include links;
				&:hover{
					background-color: rgba(200,200,200,.1);
				}
			}
		}
	}
	&__slider-controller{
		display: block;
		width: 233px;
		margin: 0 auto;
		padding-top: 110px;
		text-align: center;
		padding-top: 110px;
	}
}
.main_page__content{
	@include wrap_padding;
	@include border_box;
	background-color: $color-content;
	min-height: 440px;
	padding-top: 90px;
	& h2{
		@include roboto;
		color: #000;
		font-size: 30px;
		text-align: center;
		line-height: 1.3;
		padding-bottom: 45px;
	}
	& p{
		font-family: 'Arial';
		font-weight: 500;
		font-size: 14px;
		line-height: 1.6;
		padding-left: 6.56%; 
		padding-right: 6.56%; 
		text-align: center;
		@include roboto;
		font-size: 17px;
		color: #000;
		margin-bottom: 40px;
	}

	&-img{
		display: block;
		text-align: center;	
		padding-bottom: 50px;
		& img{
			padding-right: 9.922%;
			&:last-child{
				padding-right: 0;
			}
		}
	}
}
.main_page__review_block {
	@include wrap_padding;
	@include border_box;
	min-height: 400px;
	padding-top: 5%;
	background-color: $color-green;
	position: relative;
	&__author{
		position: relative;
		margin: 0  55%;
		@include roboto;
		color: #fff;
		font-size: 26px;
		padding-bottom: 165px;
		&:before{
			content: "";
			position: absolute;
			display: block;
			top: 0%;
			left: -155px;
			background-image: url('../img/men.png');
			width: 135px;
			height: 135px;
		}
		&:after{
			content: "";
			position: absolute;
			display: block;
			top: 30%;
			left: 0px;
			background-image: url('../img/quotes.png');
			width: 127px;
			height: 92px;
		}
	}
	&__author-article{
		font-family: 'Arial';
		font-weight: 500;
		font-size: 17px;
		line-height: 1.6;
		padding: 0 6.56% 30px 6.56%; 
		text-align: center;
		@include roboto;
		font-size: 16px;
	}

}
.main_page__form_block {
	@include wrap_padding;
	height: 520px;
	background-image: url("../img/map.png");
	background-size: cover;
	padding-top: 75px;

	overflow: hidden;
	position: relative;
	&-form-wraper{
		display: block;
		height: 430px;
		width: 430px;
		margin: 0 auto;
		border-radius: $form-wh*2;
		background-color: rgba(255,255,255,.7);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
		& form{
			padding-top: 120px;
			padding-left: 19%;
			& input{
				@include border_box;
				height: 31px;
				width: 270px;
				margin-bottom: 15px;
				background-color: #fff;
				border: 1px solid #d8d8d8;
				border-radius: 2px;
				font-size: 14px;
				line-height: 1;
				color: #2b2b2c;
				padding-left: 10px;
				font-family: 'Arial';
				&::-webkit-input-placeholder{color:#a5a7ae;}
				&:focus::-webkit-input-placeholder  {
					color: transparent;
				}
			}
			& textarea{
				width: 255px;
				height: 80px;
				margin-bottom: 15px;
				background-color: #fff;
				border: 1px solid #d8d8d8;
				border-radius: 2px;
				font-size: 14px;
				line-height: 1;
				color: #2b2b2c;
				padding-left: 10px;
				font-family: 'Arial';
			}
		}
	}
	.main_page__form-bg{
		position: relative;
	}
	.form_btn{
		position: absolute;
		left: 45%;
		width: 67px;
		height: 67px;
		background-image: url("../img/okimg.png");
	}
}
footer{
	height: 40px;
	background-color: $color-green;
	& p{
		@include wrap_padding;
		@include roboto;
		@include border_box;
		text-transform: uppercase;
		font-size: 14px;
		text-align: center;
		padding-top: 15px;
	}
}