*{
	padding: 0;
	margin: 0;
}

$color-link: green;

@mixin defaul_bcg{
	background-color: $color-link;
}

@mixin nopad {
	padding: 0;
	margin: 0;
}

@mixin links{
	color: #fff;
 	text-align: center;
 	margin-top: 15px;
	width: 70%;
	min-height: 600px;
	background-color: #856;
}

@mixin hover_link{
	color: red
}

.main-header__block {
	@include links;	
	@include nopad;
	&:hover{
		@include hover_link
	}
	&_left-block {
		width: 50%;
		height: 200px;
		display: inline-block;
		float: left;
		@include defaul_bcg
	}
	&_right-block {
		width: 50%;
		display: inline-block;
		height: 200px;
		@include defaul_bcg
	}
}